/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  position: relative;
  background-color: #09090b;
  -moz-osx-font-smoothing: grayscale;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(128, 128, 128, 0.205) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.205), transparent 1px);
}

/* Inter Fonts */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}